* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font: 30px Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
input { width: 100%; border: 0; padding: 10px; margin-right: .5%; font-size: 30px }
button { width: 30%; background: purple; color: white; border: none; font-size: 30px }

ul { list-style-type: none; margin: 0; padding: 0; height: calc(100vh - 61px); overflow: auto; }
ul li { padding: 5px 10px; }
ul li:nth-child(odd) { background: #eee; }
.systemMessage { font-style: italic; background: white !important }
#container, .page { height: 100vh; width: 100vw }

.modal { position: fixed; height: 100vh; width: 100vw; top: 0; left: 0; background-color: white; display: flex; flex-direction: column; align-items: center }
.modal input { text-align: center; }
.modal button { margin: 10px; padding: 10px; width: 100% }
